<!-- This file is responsible for nav bar of the dashboard -->
<li class="dropdown" bs-tooltip="'Collections'" data-placement="bottom" style="padding-top:5px;" ng-show="dashboard.current.loader.dropdown_collections">
  <select class="collection-picker-select" ng-model="dashboard.current.solr.core_name" ng-change="dashboard.refresh()" ng-options="c as c for c in dashboard.current.solr.core_list"></select>
</li>

<li><a bs-tooltip="'Goto saved default'" data-placement="bottom" container="body" href="#/dashboard"><i class="fa fa-home"></i></a></li>
<!-- New menu -->
<li bs-tooltip="'New'" data-placement="bottom" ng-show="showDropdown('new')" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class='fa fa-file'></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" style="padding:10px">
    <li><a class="link" bs-modal="'app/partials/solrSettings.html'" ng-click="$scope.type='default-ts'"><i class="icon-time"></i> Time-series dashboard </a></li>
    <li><a class="link" bs-modal="'app/partials/solrSettings.html'" ng-click="$scope.type='default-nts'"><i class="icon-th-large"></i> Non time-series dashboard </a></li>
  </ul>
</li>
<!-- Load menu -->
<li bs-tooltip="'Load'" data-placement="bottom" ng-show="showDropdown('load')">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="elasticsearch_dblist('title:'+elasticsearch.query+'*')">
    <i class="fa fa-folder-open"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" style="padding:10px;width:300px" aria-labelledby="dropdownMenu1">
    <li ng-show="dashboard.current.loader.load_local">
      <h5>Local File <tip>Load dashboard JSON layout from file</tip></h5>
      <form>
        <input type="file" id="dashupload" dash-upload="" class="form-control" style="width:100%;display:inline-block" ><br>
      </form>
    </li>
    <li ng-show='dashboard.current.loader.load_gist'>
      <h5>Gist <tip>Enter a gist number or url</tip></h5>
      <form>
        <input type="text" ng-model="gist.url" placeholder="Gist number or URL" class="form-control" ng-click="$event.stopPropagation()"><br>
        <button class="btn btn-default" ng-click="gist_dblist(dashboard.gist_id(gist.url));$event.stopPropagation()" ng-show="dashboard.is_gist(gist.url)"><i class="icon-github-alt"></i> Get gist:{{gist.url | gistid}}</button>
        <h6 ng-show="gist.files.length">Dashboards in gist:{{gist.url | gistid}} <small>click to load</small></h6>
        <h6 ng-hide="gist.files.length || !gist.url.length">No gist dashboards found</h6>
        <table class="table table-condensed table-striped">
          <tr ng-repeat="file in gist.files" class="pointer">
            <td><a ng-click="dashboard.dash_load(file)">{{file.title}}</a></td>
          </tr>
        </table>
      </form>
    </li>
    <li ng-show="dashboard.current.loader.load_elasticsearch">
      <h5>Solr</h5>
      <form class="input-append" style="width:100%;">
        <input type="text" ng-model="elasticsearch.query" ng-click="$event.stopPropagation()" ng-change="elasticsearch_dblist('title:'+elasticsearch.query+'*')" placeholder="Type to filter" class="form-control">
      </form>
      <h6 ng-show="elasticsearch.dashboards.length">Solr stored dashboards</h6>
      <h6 ng-hide="elasticsearch.dashboards.length">No dashboards matching your query found</h6>
      <table class="table table-condensed table-striped">
        <tbody><tr ng-repeat="row in elasticsearch.dashboards | orderBy:['id'] | limitTo:dashboard.current.loader.load_elasticsearch_size">
          <td ng-show="dashboard.current.loader.save_elasticsearch"><a confirm-click="elasticsearch_delete(row.id)" confirmation="Are you sure you want to delete {{row.id}} dashboard?"><i class="fa fa-times"></i></a></td>
          <td><a href="#/dashboard/solr/{{row.id}}">{{row.id}}</a></td>
          <!--<td><a><i class="fa fa-share" ng-click="share = dashboard.share_link(row.id,'solr',row.id)" bs-modal="'app/panels/dashcontrol/share.html'"></i></a></td>-->
        </tr>
      </tbody></table>
    </li>
  </ul>
</li>
<!-- Save menu -->
<li class="dropdown" bs-tooltip="'Save'" data-placement="bottom" ng-show="showDropdown('save')">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-save"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right"  style="padding:10px;width:300px">
    <li ng-show="dashboard.current.loader.save_default || dashboard.current.loader.save_local">
      <h5>Locally</h5>
      <ul class="list-unstyled">
        <li ng-show="dashboard.current.loader.save_local"><a class="link" ng-click="dashboard.to_file()"><i class="fa fa-download"></i> Export to File</a> <tip>Export layout, not data, to file</tip></li>
        <li ng-show="dashboard.current.loader.save_default"><a class="link" ng-click="set_default()"><i class="fa fa-bookmark"></i> Set as Browser Default</a> <tip>Store dashboard preference to browser's localStorage</tip></li>
        <li ng-show="dashboard.current.loader.save_default"><a class="link" ng-click="purge_default()"><i class="fa fa-ban"></i> Clear Browser Default</a></li>
      </ul>
    </li>
    <li ng-show="dashboard.current.loader.save_gist">
      <h5>Gist</h5>
      <form class="input-append">
        <input class='pull-left form-control' style="width:80%"  placeholder='Title' type="text" ng-model="gist.title"/>
        <button class="btn btn-default pull-right" ng-click="save_gist()"><i class="fa fa-github-alt"></i></button>
      </form><br>
      <small ng-show="gist.last">Last gist: <a target="_blank" href="{{gist.last}}">{{gist.last}}</a></small>
    </li>

    <li ng-show="dashboard.current.loader.save_elasticsearch" style="margin-top: 25px;">
      <h5>Solr</h5>
      <form class="input-append">
        <input class="form-control pull-left" style="width:80%" placeholder="{{dashboard.current.title}}" type="text" ng-model="elasticsearch.title">
        <button class="btn btn-default pull-right" ng-click="elasticsearch_save('dashboard', null)"><i class="fa fa-save"></i></button>
      </form>
    </li>
  </ul>
</li>
<!-- Configure menu -->
<li ng-show="dashboard.current.editable">
  <a bs-modal="dashboardEditorModal" data-content-template="app/partials/dasheditor.html">
    <i class="fa fa-cog pointer" container="body" bs-tooltip="dashboardEditorTooltip" data-placement="bottom"></i>
  </a>
</li>