<div class="container " style="width:95%">

  <!-- Rows -->
  <div class="kibana-row row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.current.rows" ng-style="row_style(row)">
    <div class="row-control">
      <div class="row" style="padding:0px;margin:0px;position:relative;" data-ng-hide="readonly">

        <div class="row-close col-sm-12 col-md-12" ng-show="row.collapse" data-placement="bottom">
          <span class="row-button" bs-modal="rowEditorModal" data-content-template="app/partials/roweditor.html">
            <i bs-tooltip="'Configure row'" container="body" data-placement="right" ng-show="row.editable" class="fa fa-cog pointer"></i>
          </span>
          <span class="row-button" ng-click="toggle_row(row)" ng-show="row.collapsable">
            <i bs-tooltip="'Expand row'" data-placement="right" ng-show="row.editable" class="fa fa-expand pointer"></i>
          </span>
          <span class="row-button row-text" ng-click="toggle_row(row)" ng-class="{'pointer':row.collapsable}">{{row.title || 'Row '+$index}}</span>
        </div>

        <div style="text-align:left" class="row-open" ng-show="!row.collapse">
          <span ng-show="row.collapsable">
            <i bs-tooltip="'Hide row'" data-placement="right" class="fa fa-compress" ng-click="toggle_row(row)"></i>
            <br>
          </span>
          <span bs-modal="rowEditorModal" data-content-template="app/partials/roweditor.html" ng-show="row.editable">
            <i bs-tooltip="'Configure row'" data-placement="right" container="body" class="fa fa-cog pointer"></i>
            <br>
          </span>
          <span ng-show="rowSpan(row) == 12 && row.editable">
            <i bs-tooltip="'Row full. Create a new row to add more panels'" container="body" data-placement="right" class="fa fa-trello"></i>
            <br>
          </span>
          <span ng-show="rowSpan(row) > 12">
            <i bs-tooltip="'Total span > 12. This row may format poorly'" data-placement="right" class="fa fa-warning-sign text-warning"></i>
            <br>
          </span>
        </div>

      </div>
      <div class="row row-of-two-panels" style="padding-top:0px" ng-hide="row.collapse">

        <!-- Panels -->
        <div ng-repeat="(name, panel) in row.panels|filter:isPanel" ng-hide="panel.span == 0 || panel.hide" class="col-md-{{panel.span}} panel nospace" style="min-height:{{row.height}}; position:relative" data-drop="true" ng-model="row.panels" data-jqyoui-options="" jqyoui-droppable="{index:$index,mutate:false,onDrop:'panelMoveDrop',onOver:'panelMoveOver(true)',onOut:'panelMoveOut'}">
          <!-- Content Panel -->
          <div style="position:relative" ng-class="{'dragInProgress':dashboard.panelDragging}">
            <!-- Error Panel -->
            <div class="alert alert-danger panel-error col-sm-12 col-md-12 alert-warning alert-dismissable" ng-hide="!panel.error">
              <a class="close" ng-click="panel.error=false">×</a>
              <i class="fa fa-exclamation-sign"></i> <strong>Oops!</strong> {{panel.error}}
            </div>
            <kibana-panel type="panel.type" ng-cloak=""></kibana-panel>
          </div>
        </div>

        <div ng-hide="(12-rowSpan(row)) < 1 || !dashboard.current.panel_hints" class="panel col-md-{{(12-rowSpan(row))}}" ng-class="{'dragInProgress':dashboard.panelDragging}" style="height:{{row.height}};" data-drop="true" ng-model="row.panels" data-jqyoui-options="" jqyoui-droppable="{index:row.panels.length,onDrop:'panelMoveDrop({{(12-rowSpan(row))}})',onOver:'panelMoveOver(false)',onOut:'panelMoveOut'}">

          <span bs-modal="rowEditorModal" data-content-template="app/partials/roweditor.html" ng-show="row.editable &amp;&amp; !dashboard.panelDragging">
            <i ng-hide="rowSpan(row) == 0" class="pointer fa fa-plus-circle" ng-click="editor.index = 1" bs-tooltip="'Add a panel to this row'" data-placement="right"></i>
            <span ng-click="editor.index = 1" style="margin-top: 8px; margin-left: 3px" ng-show="rowSpan(row) == 0" class="btn btn-default btn-xs">Add panel to empty row
          </span>

        </span></div>

      </div>
    </div>
  </div>

  <div class="row" ng-show="dashboard.current.editable">
    <div class="col-sm-12 col-md-12">
      <span style="margin-left: 0px;float:right;margin-bottom: 20px" class="pointer btn btn-default btn-xs" bs-modal="modal" data-content-template="app/partials/dasheditor.html">
        <span ng-click="editor.index = 1"><i class="fa fa-plus-circle"></i> ADD A ROW</span>
      </span>
    </div>
  </div>


</div>