<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Information</h3>
</div>
<div class="modal-body">
    <div>
        <div  ng-show="!panel.show_help_message && !panel.show_queries"> Nothing to show here. Check your configuration for this panel</div>
        <div ng-show="panel.show_help_message">
            <h5>Help Message</h5>
            <div style="background-color:#f5f5f5; border-radius:5px; border: 1px solid rgba(0,0,0,0.15);padding:10px;">
                <div ng-show="panel.info_mode == 'markdown'" ng-bind-html="panel.help_message | markdown"></div>
                <div ng-show="panel.info_mode == 'text'" ng-style="{'font-size':panel.info_font_size, 'line-height':'normal'}" ng-bind-html="panel.help_message | striphtml | newlines"></div>
                <div ng-show="panel.info_mode == 'html'" ng-bind-html="panel.help_message"></div>
            </div>
        </div>
        <div ng-show="panel.show_queries">
            <h5>Panel Query</h5>
            <pre>{{panel.queries.query}}</pre>
            <h5>Additional Custom Query</h5>
            <pre>{{panel.queries.custom}}</h6>
        </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="dismiss()">Close</button>
</div>
