<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Parameters of Last Query</h3>
</div>
<div class="modal-body">
  <div>
    <!-- <pre>curl -XGET '{{config.elasticsearch}}/{{dashboard.indices|stringify}}/_search?pretty' -d '{{inspector}}' -->
    <!-- 
    <pre>'{{inspector}}'
    </pre>
	  -->
	<h5>Panel Query</h5>
    <pre>{{panel.queries.query}}</pre>
    <h5>Additional Custom Query</h5>
    <pre>{{panel.queries.custom}}</h6>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="dismiss()">Close</button>
</div>