  <div class="pull-right editor-title">Row settings</div>

  <div ng-model="editor.index" bs-tabs="">
    <div ng-repeat="tab in ['General','Panels','Add Panel']" data-title="{{tab}}" bs-pane>
    </div>
  </div>

  <div class="row" ng-show="editor.index == 0">
    <div class="col-sm-4 col-md-4">
      <label class="small">Title</label><input type="text" class="form-control" ng-model="row.title">
    </div>
    <div class="col-sm-2 col-md-2">
      <label class="small">Height</label><input type="text" class="form-control" ng-model="row.height">
    </div>
    <div class="col-sm-1 col-md-1">
      <label class="small"> Editable </label><input type="checkbox" ng-model="row.editable" ng-checked="row.editable">
    </div>
    <div class="col-sm-1 col-md-1">
      <label class="small"> Collapsable </label><input type="checkbox" ng-model="row.collapsable" ng-checked="row.collapsable">
    </div>
  </div>
  <div class="row" ng-show="editor.index == 1">
    <div class="col-sm-12 col-md-12">
      <h4>Panels <i class="fa fa-plus-circle link" bs-tooltip="'Add panel'" ng-click="editor.index = 2"></i></h4>
      <table class="table table-condensed table-striped">
        <thead>
          <tr><th>Title</th>
          <th>Type</th>
          <th>Span <span class="small">({{rowSpan(row)}}/12)</span></th>
          <th>Delete</th>
          <th>Move</th>
          <th></th>
          <th>Hide</th>
        </tr></thead>
        <tbody><tr ng-repeat="panel in row.panels">
          <td>{{panel.title}}</td>
          <td>{{panel.type}}</td>
          <td><select ng-hide="panel.sizeable == false" class="form-control" ng-model="panel.span" ng-options="size for size in [0,1,2,3,4,5,6,7,8,9,10,11,12]"></select></td>
          <td><i ng-click="row.panels = _.without(row.panels,panel)" class="pointer fa fa-times"></i></td>
          <td><i ng-click="_.move(row.panels,$index,$index-1)" ng-hide="$first" class="pointer fa fa-arrow-up"></i></td>
          <td><i ng-click="_.move(row.panels,$index,$index+1)" ng-hide="$last" class="pointer fa fa-arrow-down"></i></td>
          <td><input type="checkbox" ng-model="panel.hide" ng-checked="panel.hide"></td>
        </tr>
      </tbody></table>
    </div>
  </div>
  <div class="row" ng-show="editor.index == 2">
    <h4>Select Panel Type</h4>
    <form class="form-inline">
      <select class="form-control" ng-model="panel.type" ng-options="panelType for panelType in config.panel_names|stringSort"></select>
      <small ng-show="rowSpan(row) > 11">
        Note: This row is full, new panels will wrap to a new line. You should add another row.
      </small>
    </form>

    <div ng-show="!(_.isUndefined(panel.type))">
      <div add-panel="{{panel.type}}"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-show="panel.type &amp;&amp; editor.index == 2" ng-click="add_panel(row,panel); reset_panel(); editor.index == 1;" class="btn btn-success" ng-disabled="panel.loadingEditor">Add Panel</button>
    <button type="button" class="btn btn-danger" ng-click="editor.index=0;$hide();reset_panel();close_edit()">Close</button>
  </div>