<div class="row-fluid">
    <div class="span4">
        <label class="small">Field
            <tip>This is the facet field.</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
    </div>
    <div class="span4">
        <label class="small">Number of Bars
            <tip>Specify a maximum number of terms/Bars to display.</tip>
        </label>
        <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
</div>