<div ng-controller='text' ng-init="init()">
  <!--<p ng-style="panel.style" ng-bind-html-unsafe="panel.content | striphtml | newlines"></p>-->
  <div ng-style="{'display':panel.display}">
  <markdown ng-style="{'display':panel.display}" ng-if="ready && panel.mode == 'markdown'">
    {{panel.content}}
  </markdown>
  <p ng-if="panel.mode == 'text'" ng-style='panel.style' ng-bind-html="panel.content | striphtml | newlines">
  </p>
  <p ng-if="panel.mode == 'html'" ng-bind-html="panel.content">
  </p>
</div>
</div>
