<div>
  <div class="row">
    <h4>Add Panel to Column</h4>
    <select class="form-control" ng-model="new_panel.type" ng-options="f for f in _.without(config.panel_names,'column')| stringSort" ng-change="reset_panel(new_panel.type);send_render();" style="width: 200px; float: left; margin-right: 16px;"></select>
    <small>Select Type</small>
    <div ng-show="!(_.isUndefined(new_panel.type))" style="clear:both;">
      <div column-edit="" panel="new_panel" config="config" row="row" dashboards="dashboards" type="new_panel.type"></div>
      <button ng-click="add_panel(new_panel); reset_panel();" class="btn btn-primary" style="margin-top: 10px;">Create Panel</button><br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h4>Panels</h4>
      <table class="table table-condensed table-striped">
        <thead>
          <tr><th>Title</th>
          <th>Type</th>
          <th>Height</th>
          <th>Delete</th>
          <th>Move</th>
          <th></th>
          <th>Hide</th>
        </tr></thead>
        <tbody><tr ng-repeat="app in panel.panels">
          <td>{{app.title}}</td>
          <td>{{app.type}}</td>
          <td><input type="text" class="form-control" ng-model="app.height"></td>
          <td><i ng-click="panel.panels = _.without(panel.panels,app)" class="pointer fa fa-times"></i></td>
          <td><i ng-click="_.move(panel.panels,$index,$index-1)" ng-hide="$first" class="pointer fa fa-arrow-up"></i></td>
          <td><i ng-click="_.move(panel.panels,$index,$index+1)" ng-hide="$last" class="pointer fa fa-arrow-down"></i></td>
          <td><input type="checkbox" ng-model="app.hide" ng-checked="app.hide"></td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>