<div class="row">
    <div class="col-sm-4 col-md-4">
      <label class="small">Title</label><input type="text" class="form-control" ng-model="panel.title">
    </div>
    <div class="col-sm-2 col-md-2">
      <label class="small">Height</label> <input type="text" class="form-control" ng-model="panel.height">
    </div>
    <div class="col-sm-1 col-md-1"> 
      <label class="small"> Editable </label><input type="checkbox" ng-model="panel.editable" ng-checked="panel.editable">
    </div>
  </div>