  <div class="row-fluid">
    <div class="span2" >
      <label class="small">Mode</label>
      <!-- Banana: does not support 'min','mean','max', and 'total' modes yet -->
      <!-- <select ng-change="set_refresh(true)" class="input-small" ng-model="panel.mode" ng-options="f for f in ['count','min','mean','max','total','value']"></select> -->
      <select ng-change="set_refresh(true)" class="input-small" ng-model="panel.mode" ng-options="f for f in ['value']"></select>
    </div>
	<div class="span2">
    <label class="small">Style</label>
    <select class="input-small" ng-model="panel.chart" ng-options="f for f in ['sortbar']"></select></span>
  </div>
    <div class="span2" >
      <label class="small">Field</label>
        <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.value_field">
    </div>
	<div class="span2" >
      <label class="small">Sort by</label>
        <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.value_sort">
    </div>
	<div class="span2" >
    <label class="small">FontSize</label>
    <select class="input-mini" ng-model="panel.fontsize" ng-options="f for f in [7,8,9,10,12,14,16,18,20,24,28,32,36,42,48,52,60,72]"></select></span>
  </div>
	<div class="span3" ng-show="panel.mode != 'count'">
      <label class="small">Note</label><small> In <strong>{{panel.mode}}</strong> mode the configured field <strong>must</strong> be a numeric type.</small>
    </div>
    <div class="span2" ng-show="panel.mode != 'count' || panel.mode != 'counts'">
      <label class="small">Max Rows <tip>Maximum number of rows to retrieve for the result set.</tip></label>
      <input ng-change="set_refresh(true)" placeholder="100000" type="number" class="input-small" ng-model="panel.max_rows">
    </div>
	 <div class="span1" ng-show="panel.chart == 'stacking'">
    <label class="small">ylabels</label><input type="checkbox" ng-model="panel.ylabels" ng-checked="panel.ylabels">
  </div>

	</div>
  <div class="row-fluid">
    <div class="span12">
      <label class="small">Default Colors for Chart <tip>Comma separated values of color (no quote). HTML color names or hexadecimal colors are allowed (e.g. red, #FF0000, #F00 and etc). The chart series will get a color from these color values.</tip></label>
      <textarea class="input-xxlarge" type="text" ng-model="panel.chartColors" ng-list></textarea>
    </div>
  </div>
  <div class="row-fluid">
    <h5>Linkage Effective</h5>
    <div class="span1">
      <label class="small">LinkageID</label><input type="text" class="input-small" ng-model="panel.linkage_id" ng-change="set_refresh(true)">
    </div>

  </div>

  <!-- Row for Group By field when Mode is values -->




