<div class="row-fluid">
  <div class="span2">
    <label class="small">Field <tip>This is the facet field.</tip></label>
    <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
  </div>
  <div class="span2">
    <label class="small">Length <tip>Specify a maximum number of terms to display (Top N).</tip></label>
    <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
  </div>
  <div class="span2">
    <label class="small">Sort by</label>
    <select ng-change="set_refresh(true)" class="input-small"
            ng-model="panel.sortBy"
            ng-options="f for f in ['count','index']"></select>
  </div>
  <div class="span3">
    <label class="small">Order</label>
    <!-- <select class="input-medium" ng-model="panel.order" ng-options="f for f in ['count','term','reverse_count','reverse_term']" ng-change="set_refresh(true)"></select></span> -->
    <select class="input-medium"
            ng-model="panel.order"
            ng-options="f for f in ['descending','ascending']"
            ng-change="set_refresh(true)"></select>
  </div>
  <div class="span2" ng-show="!panel.defaulttimestamp">
    <label class="small">Timestamp value</label>
    <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.value_sort">
  </div>
  <div class="span1"> <label class="small">Default timestamp</label><input type="checkbox" ng-model="panel.defaulttimestamp" ng-checked="panel.defaulttimestamp"></div>
</div>
<div class="row-fluid">
  <div class="span2">
    <label class="small">Style</label>
    <select class="input-small" ng-model="panel.chart" ng-options="f for f in ['d3pie']"></select></span>
  </div>
  <div class="span2" ng-show="((panel.chart == 'pie' ||panel.chart == 'ebar'||panel.chart == 'rosepie' ) && (panel.labels|| panel.eLegend))||panel.chart == 'bar'||panel.chart == 'dashboard'||panel.chart == 'radar'||panel.chart == 'bars'||panel.chart == 'horizontalBar'">
    <label class="small">Font Size</label>
    <select class="input-mini" ng-model="panel.fontsize" ng-options="f for f in [7,8,9,10,12,14,16,18,20,24,28,32,36,42,48,52,60,72]"></select></span>
  </div>


  <div class="span2" >
    <label class="small">Donut</label><input type="checkbox" ng-model="panel.donut" ng-checked="panel.donut">
  </div>

</div>

<div class="row-fluid">
  <h5>Real-time (Auto-refresh)</h5>  
  <div class="span1">
    <label class="small">Enable</label><input type="checkbox" ng-model="panel.refresh.enable" ng-checked="panel.refresh.enable">
  </div>
  <div class="span2">
    <label class="small">Interval (seconds) <tip>The minimum value is 2.</tip></label>
    <input type="number" min="2" class="input-mini" ng-model="panel.refresh.interval">
  </div>
</div>
<div class="row-fluid">
  <h5>Linkage Effective</h5>
  <div class="span1">
    <label class="small">LinkageID</label><input type="text" class="input-small" ng-model="panel.linkage_id" ng-change="set_refresh(true)">
  </div>

</div>