<div class="panel-query-meta row" style="width:170px">

  <style>
    .input-query-alias {
      margin-bottom: 5px !important;
    }
    .panel-query-meta .pin {
      text-decoration: underline;
    }

  </style>
  <a class="close" ng-click="render();$hide();" href="">×</a>
  <!-- <i ng-click="toggle_pin(id);$hide();" class="small pointer fa fa-pushpin"></i>  -->
  <!-- <label class="strong small ">Query Alias</label>  -->
  <form>
    <!-- <input class="form-control input-query-alias" type="text" ng-model="querySrv.list[id].alias" placeholder='Alias...' /> -->
    <div>
      <i ng-repeat="color in querySrv.colors" class="pointer" ng-class="{'fa fa-circle-blank':querySrv.list[id].color == color,'fa fa-circle':querySrv.list[id].color != color}" ng-style="{color:color}" ng-click="querySrv.list[id].color = color;render();"> </i>
    </div>
  </form>
</div>