<div class="row-fluid">
  <div class="span3">
    <label class="small">Gap <tip>The time gap between time series aggregation points</tip></label>
    <select ng-change="set_interval(panel.interval);" class="input-small" ng-model="panel.interval" ng-options="interval_label(time) for time in _.union([panel.interval],panel.intervals)"></select>
  </div>
  <div class="span3">
    <label class="small">Metric <tip>The metric to include in the result tuple</tip></label>
    <select class="input-small" ng-model="panel.metric" ng-change="metric_changed();set_refresh(true);" ng-options="m for m in ['count', 'sum', 'avg', 'min', 'max']" ng-change="set_refresh(true)"></select>
  </div>
  <div class="span3">
    <label class="small">Field <tip>The field to apply time series aggregation function on. Must be numeric.</tip></label>
    <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
    <label class="small">Font Size</label>
    <select class="input-mini" ng-model="panel.style['font-size']" ng-options="f for f in ['7pt','8pt','9pt','10pt','12pt','14pt','16pt','18pt','20pt','24pt','28pt','32pt','36pt','42pt','48pt','52pt','60pt','72pt']"></select></span>
  </div>
</div>