<div ng-controller='search' ng-init="init()" class="query-panel">
  <div ng-style="{'display':panel.display}">
    <!--<div ng-repeat="id in (unPinnedQueries = (querySrv.ids|pinnedQuery:false))" ng-class="{'short-query': unPinnedQueries.length>1}">-->
    <form class="form-search" style="position:relative;margin-bottom:5px;height: 55px"  ng-submit="refresh()">
      <span class="begin-query" style="margin:15px">
        <i class="icon icon-tags"></i>
        <!--<i class="icon-circle pointer" data-unique="1" bs-popover="'app/panels/query/meta.html'" data-placement="right" ng-style="{color: querySrv.list[id].color}"></i>-->
        <!--<i class="icon-remove-sign pointer remove-query" ng-if="querySrv.ids.length > 1" ng-click="querySrv.remove(id);refresh()"></i>-->
      </span>
      <input class="search-query panel-query" style="margin:15px" bs-typeahead="panel.history" data-min-length=0 data-items=100 type="text" ng-model="panel.search" />
      <span class="end-query" style="margin:15px">
        <i class="icon-search pointer"  ng-click="build_search()" ></i>
        <!-- Remove the plus icon to disable multiple queries function -->
        <!-- <i class="icon-plus pointer" ng-click="querySrv.set({})" ng-if="$last"></i>-->
      </span>
    </form>
    <!-- </div>-->
    <!--<div style="display:inline-block" ng-repeat="id in querySrv.ids|pinnedQuery:true">
      <span class="pointer" ng-if="$first" ng-click="panel.pinned = !panel.pinned"><small class="pins">Pinned</small> <i ng-class="{'icon-caret-right':panel.pinned,'icon-caret-left':!panel.pinned}"></i></span>
      <span ng-if="panel.pinned" class="pinned badge">
        <i class="icon-circle pointer" ng-style="{color: querySrv.list[id].color}" data-unique="1" bs-popover="'app/panels/query/meta.html'"></i><span bs-tooltip="querySrv.list[id].query"> {{querySrv.list[id].alias || querySrv.list[id].query}}</span>
      </span>
    </div>-->
    <!--<span style="display:inline-block" ng-if="unPinnedQueries.length == 0">
      <i class="icon-search pointer" ng-click="refresh()"></i>
      <i class="icon-plus pointer" ng-click="querySrv.set({})"></i>
    </span>-->
  </div>
</div>
