.rotate-icon {
    background-image: url("../img/rotate.svg");
    width: 15px;
    height: 14px;
    background-size: 100%;
    float: right;
    display: inline-block;
    background-position: 0px 2px;
    background-repeat: repeat-x;
    padding-top: 6px;
}

.panel-error {
	opacity: 0.9;
	position:absolute;
	z-index: 900 !important;
}

.datepicker-dropdown {
	z-index: 1000 !important;
}