<div class="row">
    <div class="col-sm-4 col-md-4">
        <label class="small">Field
            <tip>This is the facet field.</tip>
        </label>
        <input type="text" class="input-large form-control" bs-typeahead ng-options="field for field in fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
    </div>
    <div class="col-sm-4 col-md-4">
        <label class="small">Number of tags
            <tip>Specify a maximum number of terms to display (Top N).</tip>
        </label>
        <input class="input-small form-control" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4">
        <label class="small">Text Alignment</label>
        <select class="input-large form-control" ng-model="panel.alignment" ng-options="f for f in ['horizontal','vertical(+90)','vertical(-90)','vertical and horizontal','Random']"></select>
        </span>
    </div>
    <div class="col-sm-2 col-md-2">
      <label class="small">Display count</label>
      <input type="checkbox"
             ng-model="panel.isCountDisplayed"
             ng-checked="panel.isCountDisplayed">
    </div>
    <div class="col-sm-2 col-md-2">
      <label class="small">Adjust size based on count</label>
      <input type="checkbox"
             ng-model="panel.isSizeAdjusted"
             ng-checked="panel.isSizeAdjusted">
    </div>
    <div class="col-sm-4 col-md-4">
        <label class="small">Font Scale
        <tip> Increase the size of the word font</tip>
        </label>
        <select class="input-mini form-control" ng-model="panel.fontScale" ng-options="f for f in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></select>
        </span>
    </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <label class="small">Exclude Terms(s) (comma seperated)</label>
    <tip>If the field is string use double quotes for every single term</tip>
    <input array-join="" type="text" ng-model="panel.exclude" ng-change="set_refresh(true)" class="form-control">
  </div>
</div>
