  <div class="row-fluid">
    <div class="span4">
      <form>
        <h6>Coordinate Field <tip>geoJSON array! Long,Lat NOT Lat,Long</tip></h6>
        <input bs-typeahead="fields.list" type="text" class="input-medium" ng-model="panel.field" ng-change="set_refresh(true)">
      </form>
    </div>
    <div class="span4">
      <form>
        <h6>Tooltip Field</h6>
        <input  bs-typeahead="fields.list" type="text" class="input-medium" ng-model="panel.tooltip" ng-change="set_refresh(true)">
      </form>
    </div>
    <div class="span2"><h6>Max Points</h6>
      <input type="number" class="input-small" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <form>
        <h6>Starting Latitude</h6>
        <input type="number" pattern="[0-9]+([\.|,][0-9]+)?" step="0.01" class="input-medium" ng-model="panel.lat_start" ng-change="set_refresh(true)">
      </form>
    </div>
    <div class="span4">
      <form>
        <h6>Starting Longitude</h6>
        <input type="number" pattern="[0-9]+([\.|,][0-9]+)?" step="0.01" class="input-medium" ng-model="panel.lon_start" ng-change="set_refresh(true)">
      </form>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <form>
        <h6>Ending Latitude</h6>
        <input type="number" pattern="[0-9]+([\.|,][0-9]+)?" step="0.01" class="input-medium" ng-model="panel.lat_end" ng-change="set_refresh(true)">
      </form>
    </div>
    <div class="span4">
      <form>
        <h6>Ending Longitude</h6>
          <input type="number" pattern="[0-9]+([\.|,][0-9]+)?" step="0.01" class="input-medium" ng-model="panel.lon_end" ng-change="set_refresh(true)">
      </form>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <form>
        <h6>Auto Fit Bounds</h6>
        <input type="checkbox" class="input-small" ng-model="panel.fitBoundsAuto" ng-checked="panel.fitBoundsAuto">
      </form>
    </div>
    <div class="span4">
      <form>
        <h6>Default Latitude if not exists</h6>
        <input type="number" pattern="[0-9]+([\.|,][0-9]+)?" step="0.01" class="input-medium" ng-model="panel.lat_empty" ng-change="set_refresh(true)">
      </form>
    </div>
    <div class="span4">
      <form>
        <h6>Default Longitude if not exists</h6>
        <input type="number" pattern="[0-9]+([\.|,][0-9]+)?" step="0.01" class="input-medium" ng-model="panel.lon_empty" ng-change="set_refresh(true)">
      </form>
    </div>
  </div>
