  <div class="row">
    <div class="col-sm-4 col-md-4">
      <h6>Add Field <tip>Add field to be shown on the fields list pane of the panel</tip></h6>
      <form class="input-append">
        <input bs-typeahead ng-options="field for field in fields.list" type="text" class="form-control" ng-model='importantfield'>
        <button class="btn" ng-click="toggle_important_field(importantfield);importantfield=''"><i class="fa fa-plus"></i></button>
      </form>
    </div>
    <div class="col-sm-8 col-md-8">
      <h6>Fields <small>Click to remove</small></h6>
      <span style="margin-left:3px" ng-click="toggle_important_field(field)" ng-repeat="field in $parent.panel.important_fields" class="label pointer remove label-default">{{field}} </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <h6>
        Load important field only
        <tip>When the document to display contains lots of fields, it could be
        better to only load fields to be displayed on the table and not all
        fields in the document.</tip>
      </h6>
      <input type="checkbox"
             ng-model="panel.isLoadingImportantFieldOnly"
             ng-checked="panel.isLoadingImportantFieldOnly">
    </div>
  </div>